body {
    background-color: teal;
}

header img {
    float: right;
    height: 50px;
}
.welcomeimg img {
    height: 400px;
    width: 400px;
}
.main img {
    height: 300px;
}
/* header .profilepiccomponent img {
    height: 50px !important;
} */
.profilepiccomponent img {
    /* float: right; */
    top: 0%;
    height: 50px;
}
.profilepic img {
    height: 300px;
}
.bioeditor1 textarea {
    height: 100px;
}

.otherprofile img {
    height: 50px;
    width: 220px;
}
