body {
    background-color: teal;
}
header {
    background-color: darkkhaki;
    margin-top: 0px;
    height: 100px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
}
a {
    /* height: 20px; */
    direction: flex;
    /* align-items: stretch; */
    /* float: right; */
    /* /align-items: center; */
    */margin-left: 40px;
    margin-right: 40px;
    font-size: 18px;
}
header img {
    float: left;
    height: 100px;
}
.welcomeimg img {
    height: 400px;
    width: 400px;
}
.main img {
    height: 300px;
}

.profilepiccomponent img {
    /* float: right; */
    top: 0%;
    height: 100px;
}
.profilepic {
    text-shadow: 2px 2px #ff0000;
}
.profilepic img {
    height: 300px;
}
.bioeditor1 textarea {
    height: 100px;
}

.otherprofile img {
    height: 250px;
    width: 250px;
}
.chat {
    background-color: gray;
    border: 1px solid black;
    margin: 15px;
    /* height: 120px; */
}
.chat img {
    height: 50px;
}
.chat-messages {
    overflow-y: scroll;
}
.chat-messages textarea {
    /* overflow-y: scroll; */
    height: 100px;
    width: 400px;
}
