body {
    background-color: teal;
}

header img {
    float: right;
    height: 50px;
}
.welcomeimg img {
    height: 400px;
    width: 400px;
}
.main img {
    height: 300px;
}

.bioeditor1 textarea {
    height: 100px;
}

/* .profilepic img {
    float: left;
    height: 100px;
    width: 100px;
}

.profilepiccomponenet img {
    height: 300px;
    width: 300px;
} */
